.list {
  border-radius: 15px;
  margin: 1em;
}

.list-container {
  margin: 1em;
}

.list-item {
  height: 65px;
}

.check {
  margin-left: 10px;
}

.header-btns {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-around;
}

